body, html{
    background-color: #efe785 !important;
    height: 100%; 
    width: 100%;
}

#abajo{
    position:fixed;
    width: 100%;
    bottom: 3px;
}

#arriba{
    margin-top: 2%;
}

#centro{
}

#imgm{
    display: none;
}

#imgp{
    display: none;
}

#imgpr{
    display: none;
}

#imgv{
    display: none;
}

#imgc{
    top:37%; 
    position:fixed; 
    cursor:pointer;
    width: 70%;
    height: 150px;
    margin-left: 14% !important;
    box-shadow: 0px 0px 15px black;
    border-radius: 100px;
}