body, html{
    height: 95%;
    width: 100%;
    margin: 0;
    background-color: #efe785;
    text-align: center;
}
header{
    font-family: Times New Roman;
}

h1{
    text-shadow: 1px 1px 2px black;
}

hr{
    color: #fe4014;
    background-color: #fe4014;
    height: .6em;
    width: 100%;
    margin: 0;
}
strong{
    font-family: Times New Roman;
    font-size: 30px;
    text-align: center;
    color: #fe4014;
    
}


#principal{
    width: 98%;
    font-family: Times New Roman;
    
}

#promo{
    position: relative;
    margin-top: 10%;
    width: 98%;
    border-radius: 10px;
    box-shadow: yellow 5px 5px 5px;
}
#promo li{
    background-color: rgba(245, 20, 20, 0.74);
    width: 98%;
    position: absolute;
    top: 0;
    left: 0;
}
#slider li img{
width: 98%;
}

#promo > img{
}

#footer{
    position: fixed;
    bottom: 0px !important;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    width: 100%;
    margin: 0;
    height: 50px;
    background-color: rgba(255, 127, 80, 0.76);
}
.otras{
    display: none;
    
   
}
