body, html{
    height: 95%;
    width: 100%;
    margin: 0;
    background-color: #efe785;
}
header{
    color: #fe4014;
    text-align: center;
    font-family: Times New Roman;
}
h1{
    text-shadow: 1px 1px 2px black;
}
#principal{
    margin-left: 2%;
}
hr{
   color: #fe4014;
      background-color: #fe4014;
    height: .6em;
}

.inp{
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 9%;
}

label{
    font-family: Times New Roman;
    
}

.form-group{
    margin-top: 10%;
}

#btnE{
    margin-left: 56%;
    margin-top: 10%;
}